TAGS
aclocal.m4
autom4te.cache
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
build-aux/config.rpath
config.log
config.status
configure
pre-inst-env
guile-cv-*.tar.gz
guile-cv-*.tar.gz.sig
Makefile
Makefile.in
meta/guile-cv-1.0.pc
doc/version.texi
doc/stamp-vti
doc/guile-cv.t2p
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libguile-cv/.deps/
libguile-cv/.libs/
libguile-cv/libguile-cv.la
libguile-cv/libguile-cv.lo
*~
*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vrs
*.html
*.info
*.pdf
*.go
