TAGS
aclocal.m4
autom4te.cache
build-aux
config.log
config.status
configure
pre-inst-env
guile-cv-*.tar.gz
guile-cv-*.tar.gz.sig
Makefile
Makefile.in
meta/guile-cv-1.0.pc
doc/version.texi
doc/stamp-vti
doc/guile-cv.t2p
*~
*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.log
*.pg
*.toc
*.tp
*.vr
*.vrs
*.html
*.info
*.pdf
*.go
